table.category-synonyms-ui{
    td.column-title, th.column-title {
        width: 25%;
    }
    ul.term-list {
        margin: 0;
        li {
            display: inline;
            &+li:before {
                content: ', ';
            }
        }
    }
    .click2input, .click2inputs {
        font-weight: bold;
        &:hover {
            cursor: pointer;
        }
    }


    .clicked2input, .clicked2inputs {
        display: none;
        padding: 0;
        font-size: inherit;
        width: 100%;
        @media screen and (max-width: 782px) {
            margin-right: 40px;
        }
    }

}
